.catalogContainer {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog {
  height: fit-content;
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#noPokemons {
  font-style: italic;
  font-weight: 600;
  color: var(--red);
}