.cardContainer {
	width: 300px;
	height: 380px;
	margin: 0px;
	border: solid;
	border-color: var(--white);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
}

.pokemonCard {
	width: 95%;
	height: 95%;
	border-radius: 15px;
	border: solid;
	border-color: var(--white);
	background-color: rgba(var(--salmon), 1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.cardHeader {
	background-color: yellow;
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#pokemonName {
	font-size: 20px;
	font-weight: 500;
	font-style: italic;
}

#pokemonType {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

#HP {
	font-weight: 500;
	text-decoration: solid var(--red);
	font-size: 18px;
	color: var(--red);
}

.imageContainer {
	padding: 0;
	margin: 0;
	width: 80%;
}

.image:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 300ms;
}

.pokemonHeldItems {
  width: 100%;
  height: 50px;

  /* border-bottom: solid 0.5px black; */
  border-top: solid 0.5px black;

  display: flex;  
  justify-content: center;
  align-items: center;
}

.heldItemImg {
  width: 20%;
}

.heldItemInfo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#heldTitle {
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#heldCategory {
  font-size: 10px;
  align-self:flex-end
}

#heldInfo {
  font-size: 10px;
  align-self: baseline;
}

.pokemonInfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
  font-size: 10px;
}

.wh {

}

.pokemonAbilities {

}