.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-image: url("../../assets/back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% 25%;
}