.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 25vh;
  background-image: url("../../assets/back1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 75% 25%;
}

.backImage {
  width: 100vw;
  height: auto;
  /* background-size:100% auto; */

  position: absolute;
}

.content {
  position: absolute;
}