body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--red: #ff5000 !important;
	/* --salmon: #ffdbd0; */
	--salmon: 255,219,208;
	--pink: #ffdbd0;
	--beige: #f7f0f0;
	--white: rgb(247, 239, 240);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
